.heroHead {
  background-image: url("/public/Rectangle 5.svg");
  /* position: absolute; */
  /* width: 1440px; */
  width: 100%;
  height: 550px;
  left: 0px;
  top: 138px;
}

.content {
  position: absolute;
  width: 400px;
  height: 282px;
  left: 77px;
  top: 187px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 74px;
  /* letter-spacing: -0.05em; */

  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .heroHead {
    height: 400px;
  }
  .content {
    width: 320px;
    height: 202px;
    left: 30px;
    top: 120px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;
  }
}

/* @media screen and (max-width: 1024px) {
  .content {
    width: 1820px;
    height: 202px;
    left: 300px;
    top: 190px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    /* letter-spacing: -0.05em; */
