.header {
  background-color: #292929;
  position: absolute;
  /* width: 1440px; */
  width: 100%;
  display: flex;

  height: 120px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  width: 193px;
  height: 60px;
  left: 77px;
  top: 30px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .logo {
    left: 102px;
    margin: auto;
    /* width: 143px; */
    /* justify-items: center; */
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    display: flex;
    margin: auto;
    justify-items: center;
  }
}
